.heading {
  text-align: center;
}

.list-items {
  font-size: 30px;
}

.actual-list-item {
  display: inline;
}

.btnRemove {
  border-radius: 50px;
  font-size: 20px;
  margin-right: 50px;
}

#item {
  margin-left: 130px;
  font-size: 20px;
}

.btnform {
  border-radius: 50px;
  font-size: 20px;
}
